jobs:
  include:
    - os: linux
      dist: focal
      language: python
      addons:
        sbom:
          on:
            branch: main
          run_phase: before_script
          output_format: cyclonedx-xml
        mariadb: "10.0"
      script:
        - python hello_world.py
        - cd python
        - pip install --trusted-host pypi.org --trusted-host pypi.python.org --trusted-host files.pythonhosted.org -r requirements.txt
